<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/896b0cfc-9a72-42cb-b865-acce77a157ce/resourceGroups/IngredionRG/providers/Microsoft.Web/sites/HarrySortingHat</ResourceId>
    <ResourceGroup>IngredionRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://harrysortinghat.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://harrysortinghat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$HarrySortingHat</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>